<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tiendas electronica</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="strylesheet" href="inicio/inicio.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <section class="textos-header">
            <h1>nuestros productos</h1>
            <h2>la mejor pagina web de todas </h2>
        </section>
        <div  class="wabe" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path></svg></div>
    </header>
    <main>
        <section class="contenedor sobre-nosotros">
            <h2 class="titulo">nuestros productos</h2>
            <div class="contenedor-sobre-nosotros">
                <img src="img/portafolio/tecno.png" alt="" class="imagen-about-us">
                <div class="contenido-textos">
                    <h3><span>1</span>Los mejores productos tecnologicos</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati necessitatibus sit debitis! Similique amet corrupti atque minima! Facilis commodi quae minima, iste distinctio, suscipit dolore, esse tempore corporis odit aliquid!</p>
                    <h3><span>2</span>La mejor calidad y servicio</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati necessitatibus sit debitis! Similique amet corrupti atque minima! Facilis commodi quae minima, iste distinctio, suscipit dolore, esse tempore corporis odit aliquid!</p>

                </div>
            </div>
        </section>
        <section class="portafolio">
            <div class="contenedor">
                <h2 class="titulo">Portafolio</h2>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img link="img/portafolio/portfolio-8.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/tg.png" alt="">
                            <p>Nuestro Trabajo</p>
                        </div>
                    </div>
                </div>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="../inicio/img/portafolio/portfolio-8.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/tg.png" alt="">
                            <p>Nuestro Trabajo</p>
                        </div>
                    </div>
                </div>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="../inicio/img/portafolio/portfolio-8.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/tg.png" alt="">
                            <p>Nuestro Trabajo</p>
                        </div>
                    </div>
                </div>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="../inicio/img/portafolio/portfolio-8.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/tg.png" alt="">
                            <p>Nuestro Trabajo</p>
                        </div>
                    </div>
                </div>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="../inicio/img/portafolio/portfolio-8.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/tg.png" alt="">
                            <p>Nuestro Trabajo</p>
                        </div>
                    </div>
                </div>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="../inicio/img/portafolio/portfolio-8.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/tg.png" alt="">
                            <p>Nuestro Trabajo</p>
                        </div>
                    </div>
                </div>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="../inicio/img/portafolio/portfolio-8.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/tg.png" alt="">
                            <p>Nuestro Trabajo</p>
                        </div>
                    </div>
                </div>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="../inicio/img/portafolio/portfolio-8.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/tg.png" alt="">
                            <p>Nuestro Trabajo</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="clientes-contenedor">
            <h2 class="titulo">Que dicen nuestros clientes </h2>
            <div class="cards">
                <div class="card">
                    <img src="img/team-1.jpg" alt="">
                    <div class="contenido-texto-card">
                        <h4>kevin</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, architecto!</p>  
                    </div>
                </div>
            </div>
            <div class="cards">
                <div class="card">
                    <img src="img/team-2.jpg" alt="">
                    <div class="contenido-texto-card">
                        <h4>Name</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, architecto!</p>  
                    </div>
                </div>
            </div>
            

        </section>
        <section class="about-services">
            <div class="contenedor">
                <h2 class="titulo">nuestros servicios</h2>
                <div class="servicio-cont">
                    <div class="servicio ind">
                        <img src="img/portafolio/client-1.png" alt="">
                        <h3>name</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae, nobis!</p>
                    </div>
                    <div class="servicio ind">
                        <img src="img/clients/client-2.png" alt="">
                        <h3>name</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae, nobis!</p>
                    </div>
                    <div class="servicio ind">
                        <img src="img/clients/client-3.png" alt="">
                        <h3>name</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae, nobis!</p>
                    </div>
                    <div class="servicio ind">
                        <img src="img/clients/client-4.png" alt="">
                        <h3>name</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae, nobis!</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="contenedor-footer">
            <div class="contenedor-foo">
                <h4>telefono</h4>
                <p>315-xxx-xxx</p>
            </div>
            <div class="contenedor-foo">
                <h4>email</h4>
                <p>315-xxx-xxx</p>
            </div>
            <div class="contenedor-foo">
                <h4>direccion</h4>
                <p>315-xxx-xxx</p>
            </div>
            
        </div>
        <h2 class="titulo-final">&COPY; TRABAJO FINAL CICLO 4 |KEVIN CASTAÑO|LUIS|LEONARDO </h2>
    </footer>
</body>
</html>
