<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tiendas electronica</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="strylesheet" href="inicio.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <section class="textos-header">
            <h1>nuestros productos</h1>
            <h2>la mejor pagina web para tus compras </h2>
        </section>
        <div  class="wabe" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path></svg></div>
    </header>
    <main>
        <section class="contenedor sobre-nosotros">
            <h2 class="titulo">nuestros productos</h2>
            <div class="contenedor-sobre-nosotros">
                <img src="assets/img/portfolio-details-3.jpg" style="width: 500px; height: 500px;"alt="" class="imagen-about-us">
                <div class="contenido-textos">
                    <h3><span>1</span>Los mejores productos tecnologicos</h3>
                    <p>Los mejores productos para ti o tu casa, celulares, tablets ,computadores, patinetas, camaras y muchos mas  </p>
                    <h3><span>2</span>La mejor calidad y servicio</h3>
                    <p>trabajamos con las mejores marcas y por eso damos la mejor garantia del pais </p>

                </div>
            </div>
        </section>
        <section class="portafolio">
            <div class="contenedor">
                <h2 class="titulo">Portafolio</h2>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="assets/img/portfolio-1.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="assets/img/tg.png" alt="">
                            <p>Nuestro Trabajo</p>
                        </div>
                    </div>
                </div>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="assets/img/portfolio-2.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="assets/img/tg.png" alt="">
                            <p>Nuestro Trabajo</p>
                        </div>
                    </div>
                </div>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="assets/img/portfolio-3.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="assets/img/tg.png" alt="">
                            <p>Nuestro Trabajo</p>
                        </div>
                    </div>
                </div>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="assets/img/portfolio-4.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="assets/img/tg.png" alt="">
                            <p>Nuestro Trabajo</p>
                        </div>
                    </div>
                </div>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="assets/img/portfolio-6.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="assets/img/tg.png" alt="">
                            <p>Nuestro Trabajo</p>
                        </div>
                    </div>
                </div>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="assets/img/portfolio-7.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="assets/img/tg.png" alt="">
                            <p>Nuestro Trabajo</p>
                        </div>
                    </div>
                </div>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="assets/img/portfolio-8.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="assets/img/tg.png" alt="">
                            <p>Nuestro Trabajo</p>
                        </div>
                    </div>
                </div>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="assets/img/portfolio-9.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="assets/img/tg.png" alt="">
                            <p>Nuestro Trabajo</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="clientes-contenedor">
            <h2 class="titulo">Que dicen nuestros clientes </h2>
            <div class="cards">
                <div class="card">
                    <img src="assets/img/team-1.jpg" alt="">
                    <div class="contenido-texto-card">
                        <h4>juan</h4>
                      <p>Exelentes productos, muy buena atencion y variedad en sus productos </p>  
                    </div>
                </div>
            </div>
            <div class="cards">
                <div class="card">
                    <img src="assets/img/team-2.jpg" alt="">
                    <div class="contenido-texto-card">
                        <h4>diana</h4>
                      <p>lo mejor de todo es que tiene todo su catalogo en la web y te lo mandan asta la puerta de tu casa </p>  
                    </div>
                </div>
            </div>
            

        </section>
        <section class="about-services">
            <div class="contenedor">
                <h2 class="titulo">nuestras marcas aliadas </h2>
                <div class="servicio-cont">
                    <div class="servicio ind">
                        <img src="assets/img/client-.png" alt="">
                        <h3>samsung</h3>
                        <p>"Designed For"​</p>
                    </div>
                    <div class="servicio ind">
                        <img src="assets/img/client-.jpg" alt="">
                        <h3>iphone</h3>
                        <p>"Think Different"</p>
                    </div>
                    <div class="servicio ind">
                        <img src="assets/img/client-.png" alt="">
                        <h3>canon</h3>
                        <p>“Change your lens, change your story”</p>
                    </div>
                    <div class="servicio ind">
                        <img src="assets/img/client-4.png" alt="">
                        <h3>xiaomi</h3>
                        <p>"Explora las posibilidades"</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="contenedor-footer">
            <div class="contenedor-foo">
                <h4>telefono</h4>
                <p>315-430-2080</p>
            </div>
            <div class="contenedor-foo">
                <h4>email</h4>
                <p>www.tiendastecn.com</p>
            </div>
            <div class="contenedor-foo">
                <h4>direccion</h4>
                <p>calle 30 #1-123</p>
            </div>
            
        </div>
        <h2 class="titulo-final">&COPY; TRABAJO FINAL CICLO 4 |KEVIN CASTAÑO | LUIS  | LEONARDO </h2>
    </footer>
</body>
</html>